
body{
    font-family: 'Titillium Web' ;
}
header {
    background-color: transparent;
    background-image: linear-gradient(45deg, #b15fde 0%, #5c47ed 100%);
    position: relative;
    z-index: 1;

}
header .headline{
    font-size: 52px;
}
footer{
    background:#f6f5fd;
    padding-bottom: 30px;
}
.wrapper{
    background-image: url(../images/hero-bg.svg);
    z-index: 10;
}
section{
    padding-top: 65px;
}
a {
    color: white;
    text-decoration: none;
    /* no underline */
}
.headline {
    display: block;
    font-family: 'Dosis';
    font-weight: 900;
    line-height: 1.5em;
    color: black;
    font-size: 32px;
}

.shape-fill {
    fill: #fff;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
.footer-svg{
    transform: rotate(180deg) !important;
}

.navbar-collapse {
    flex-grow: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    color: white;
}

.navbar-nav a:first-child {
    border-right: 1px solid rgba(0, 42, 91, .3);
}

.searchFrom {
    position: relative;
}

.btn-search {
    position: absolute;
    right: 8px;
}

.announce {
    padding-top: 128px;
    padding-bottom: 128px;
}

.btn-mulakatim{
    width: 155px;
    height: 42px;
    background-color: #f4d672;
    color: black;
    font-weight: 400;
    border-radius: 30px;
    border: 2px solid #f4d672;
    outline: none !important;
}
.btn-mulakatim:hover{
    background-color: #FFE285;
    color: black;
    transform: translateY(-3px);
    transition: all .2s ease-in-out;
}
.btn-mulakatim:focus{
    outline: none !important;
}
/* BUTTON 2 */
.btn-mulakatim::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}

.btn-mulakatim:hover:after {
  width: 100%;
}
.header-img {
    width: 500px;
}

.blog {
    margin-left: 7px;
}

/*section why */
.section-title {
    padding-bottom: 50px;
}
.whyColumn{
    padding: 35px 20px 35px 20px;
    text-align: center;
    border-style: solid;
    border-width: 0 0 4px 0;
    border-color: rgba(0,0,0,0); 
    border-radius: 8px 8px 8px 8px;
   
}
.whyColumn:hover{
    box-shadow: 0 0 32px 0 rgba(0,0,0,.08);
    transform: scale(1.2, 1.2);
    transition: transform .3s,background .3s,border .3s,border-radius .3s,box-shadow .3s;
}
.whyColumnImg{
    height: 64px;
    margin-bottom: 28px;
}
.why-column-title{
    height: 32px;
    font-size: 16px;
    color: #002a5b;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.why-column-desc{
    color: #646464;
    text-align: center;
    line-height: 1.2;
}
.background{
    position: relative;
    transition: background 0.3s,border 0.3s,border-radius 0.3s,box-shadow 0.3s;
    padding: 100px 10px 60px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f4d672;
    background-image: url(https://d329jirxh7znrd.cloudfront.net/lead-generation/wp-content/uploads/sites/342/2019/12/cta-bg.svg)
}
.missionMulakatim{
    padding-top: 30px;
    padding-bottom: 45px;
    font-size: 18px;
    color: #002a5b;
    font-weight: bolder;
}
.brand-logo{
    height: 100%;
    width: 100%;
    opacity: .3;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.brand-logo:hover{
    opacity: 1;
    filter: none;
    pointer-events: cursor;
}
.logo-wrapper{
    height: 85px;
    border-radius: 2px;
    padding: 15px;
    margin: 5px;
    border: solid 1px rgba(77, 77, 77, 0.5);
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 5px 15px 5px;
    border-style: solid;
    border-width: 0 0 4px 0;
  
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 0 32px 0 rgba(0,0,0,.08);
}
.factImg{
    max-height: 380px;
}
/*
numberSection
*/
.description{
    line-height: 1.7;
}
.headline-number{
    width: 18px;
    font-size: 42px;
    line-height: 1.5;
    margin-bottom: 60px;
}
.counter {
    animation-duration: 1s;
    animation-delay: 0s;
  } 
/*
commentSection
*/
.commentSection{
    background-color: #5b47ed;
    padding-top: 65px;
    padding-bottom: 65px;
}
.commentBox{
    max-width: 100%;
    position: relative;
    align-self: center;
    text-align: left;
    color: #2f354d;
    font-size: 16px;
    background-color: #52def0;
    padding: 45px 45px 45px 45px;
    margin: 45px 10px 45px 10px;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 0 48px 0 rgba(0,0,0,.08);
}
.commentBox:after{
    content: '';
    border-color: #52DEF0 transparent transparent transparent;
    left: 50%;
    border-right-width: 23px;
    margin-left: calc(23px/-2);
    border-top-width: 23px;
    bottom: -23px;
    border-left-width: 0;
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
}
.commentBox .p{
    text-align: left;
    color: #2f354d;
    font-size: 16px;
}
.commentName,.commentJob{
    color: white;
}
/*
brandSection
*/
.brandSection{
    padding-top: 65px;
    padding-bottom: 65px;
}
.box-color-1{
    border-color: #fa73d1;
}
.box-color-2{
    border-color: #52def0;
}
.box-color-3{
    border-color: #5b47ed;
}
.box-color-title-1{
    color: #fa73d1;
}
.box-color-title-2{
    color: #52def0;
}
.box-color-title-3{
    color: #5b47ed;
}

.wrapperFooter{
    padding: 110px 0 0 0;
}